@import "../custom";
@import "~bootstrap/scss/bootstrap";

.widget.preview {
    .title {
        text-align: center;
        margin: 1em 0em;
    }
    .see-more {
        text-align: center;
        margin: 1em 0em;
    }
}

.posts-grid .card > img {
  &:first-child {
    @extend .card-img-top;
  }
}
