/*
 * Fix bootstrap navbar
 * https://github.com/roots/sage/commit/e72b4906264551dc00cd0890de74ae2bce0d77c8#commitcomment-30957683
 */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/* Start file for proper */
@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "common/fonts";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/navbar";
@import "components/related";
@import "components/slider";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/archive";
@import "layouts/events";
@import "layouts/shop";
@import "layouts/product";
