# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
!web/app/mu-plugins/skin-deep
!web/app/mu-plugins/sd-shop
!web/app/mu-plugins/sd-events
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Syncing
database_backup/*
