parameters:
    includes:
        # https://github.com/phpstan/phpstan/blob/master/conf/bleedingEdge.neon
        - vendor/phpstan/phpstan/conf/bleedingEdge.neon
        - vendor/szepeviktor/phpstan-wordpress/extension.neon
    bootstrap: %rootDir%/../../../tests/phpstan-bootstrap.php
    level: max
    customRulesetUsed: false
    paths:
        - %rootDir%/../../../web/app/mu-plugins/skin-deep/app
        - %rootDir%/../../../web/app/themes/sd-theme/app
