.posts-grid .row {
  [class*="col-"] {
    margin: 0.5em 0; // Add spacing between rows
  }
}

// Style cards throughout UI consistently
.card {
  position: relative; // Ensure we can cover in a link
  height: 100%; // Make cards equal height
  border: 0;
  border-radius: 0;
  border-bottom-left-radius: 0;

  .category-link,
  .event-details {
    margin: 0.5em 0;
  }

  h3 {
    font-size: 1.2rem;
  }

  .card-title {
    margin-bottom: 0.2em;
  }

  .card-body {
    padding: 0 0;
  }

  // Display links on top of card link
  .card-body a,
  .card-content a {
    position: relative;
    z-index: 1;
  }

  .card-footer {
    background-color: white;
  }

  // Cover the card in a link
  > a.card-link {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
}
