ul#event-details {
  list-style: none;
}

// Event archive
body.post-type-archive-sd-event {
  .card {
    margin-bottom: 1em;

    .col.content {
      padding: 0 1em;
    }

    .event-details {
      font-size: 1.5em;

      .event-detail-item {
        margin-right: 1em;

        @include media-breakpoint-up(md) {
          display: inline;
        }
      }
    }
  }
}
