// Single event
body.single-sd-event {
  .article > header {

  }
}

.event-details span {
  margin-left: 0.5em;
}

// Event archive
body.post-type-archive-sd-event {
  .card {
    margin-bottom: 1em;
    border: none;

    .col.content {
      padding: 0 1em;
    }
  }
}
