.posts-navigation {
  text-align: center;
  margin: 1em 0;
}

// Video format
body.single-format-video {
  background-color: black;
  color: white;

  .widget.suggestions .jumbotron {
    background-color: $gray-800;
  }
}
