.posts-navigation {
  text-align: center;
  margin: 1em 0;
}

.widget.preview .card {
  h3 {
    font-size: 1rem;
  }
}

.container-fluid .row {
  [class*="col-"] {
    margin-top: 1em; // Add spacing between rows
  }

  .card {
    height: 100%; // Make cards equal height
  }
}

// Video format
body.single-format-video {
  background-color: black;
  color: white;
}
