.card.type-sd-product.sd-product-cat-magazines .product-figure {
  padding-top: 56.25%;
  width: 100%;
  position: relative;
  margin: 0;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5% 20%;
  }
}

.row [class^=col] {
  &:nth-child(odd) {
    .card.type-sd-product.sd-product-cat-magazines .product-figure img {
      transform: rotate(2deg);
    }
  }

  &:nth-child(even) {
    .card.type-sd-product.sd-product-cat-magazines .product-figure img {
      transform: rotate(-2deg);
    }
  }

  &:nth-child(4n) {
    .card.type-sd-product.sd-product-cat-magazines .product-figure img {
      transform: rotate(-10deg);
    }
  }
}
