$magazine-figure: '.card.type-sd-product.sd-product-cat-magazines .product-figure';

#{$magazine-figure} {
  // This implementation mostly follows stackmagazines.com
  height: 0;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  margin: 0;

  .product-image {
    // Position intermediate element over parent
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    // Ensure children have less space
    padding: 5% 20%;

    img {
      // Force image to not exceed parent's bounds
      position: static;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      width: auto;

      // Add shadow
      box-shadow: 0.15em 0.15em 0.5em rgba(0, 0, 0, 0.75);
    }
  }
}

// Add rotations to magazines
.row [class^=col] {
  &:nth-child(odd) {
    #{$magazine-figure} img {
      transform: rotate(2deg);
    }
  }

  &:nth-child(even) {
    #{$magazine-figure} img {
      transform: rotate(-2deg);
    }
  }

  &:nth-child(4n) {
    #{$magazine-figure} img {
      transform: rotate(-5deg);
    }
  }
}
