body {
  // By default use Open Sans, but fallback to system
  font-display: fallback;
  font-family: "Open Sans", sans-serif;
}

// Fonts
#top-nav .nav-item,
.page-header h1,
.preview-posts .title {
  font-weight: bold;
}

.card-title,
.entry-title,
.posts-slider .carousel-caption {
  font-display: swap;
  font-family: "Acme", sans-serif;
}

.card {
  .categories,
  .event-details {
    font-size: 0.8rem;
    font-weight: bold;
  }
}

body.single-sd-event .event-details {
  font-size: 1rem;
}
