
// Fonts
.nav-item,
.page-header h1,
.preview-posts .title {
  font-family: sans-serif;
  font-weight: bold;
}

.card-title,
.entry-title,
.posts-slider .carousel-caption {
  font-family: 'Acme', sans-serif;
}

#sub-nav .nav-item,
.card .categories,
.event-details,
.byline.author,
.product-price {
  font-weight: lighter;
}

.card {
  .categories,
  .event-details {
    font-size: 0.8rem;
    font-weight: bold;
  }
}

body.single-sd-event .event-details {
  font-size: 1rem;
}

.card .card-text {
  font-family: 'Amiri', serif;
}
