// Anchors
a:not(.nav-link) {
  @include hover {
    text-decoration: underline;
  }

  @include hover-focus {
    text-decoration: underline;
  }
}

// Images
img {
  // All images should be fluid (resize maintaining aspect ratio)
  @extend .img-fluid;
}

// Title
.page-header h1 {
  margin: 0.5em 0;
  font-size: 3em;
}
