// Anchors
a {
  color: theme-color(primary);

  @include hover {
    color: theme-color(highlight);
    text-decoration: none;
  }
}

// Images
img {
  // All images should be fluid (resize maintaining aspect ratio)
  @extend .img-fluid;
}
