// Anchors
$link-colour: #00e;
$link-visited-colour: #551a8b;
$dark-link-colour: #5bb4ee;
$dark-link-visited-colour: #c06afa;

// Style links on dark pages
#{$dark-page-selectors} {
  a:not(.nav-link):not(.btn) {
    color: $dark-link-colour;

    &:visited {
      color: $dark-link-visited-colour;
    }
  }
}

// Links on normal pages
a:not(.nav-link):not(.btn) {
  color: $link-colour;

  @include hover {
    text-decoration: underline;
  }

  @include hover-focus {
    text-decoration: underline;
  }

  &:visited {
    color: $link-visited-colour;
  }
}

// Images
img {
  // All images should be fluid (resize maintaining aspect ratio)
  @extend .img-fluid;
}

// Title
.page-header h1 {
  margin: 0.5em 0;
  font-size: 3em;
}
