/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// Production build fix from: https://github.com/roots/sage/issues/2017#issuecomment-361054297
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$theme-colors: (
  primary: #707070,
  highlight: #ffab26,
);

@function theme-color($key) {
  // Get the colour from the map
  @if map-has-key($theme-colors, $key) {
    @return map-get($theme-colors, $key);
  }

  // Warn that colour was not found in map
  @warn "Unknown `#{$key}` in $colors.";

  @return null;
}
