/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Production build fix from: https://github.com/roots/sage/issues/2017#issuecomment-361054297
$new-navbar-dark-color: str-replace(str-replace(#{$navbar-dark-color}, "(", "%28"), ")", "%29");
$new-navbar-light-color: str-replace(str-replace(#{$navbar-light-color}, "(", "%28"), ")", "%29");
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$new-navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
$navbar-light-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$new-navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

$theme-colors: (
  primary: #369,
  link: #00e,
  link-visited: #551a8b,
  dark-link: #5bb4ee,
  dark-link-visited: #c06afa,
  active-nav-link: hsl(31, 100%, 43%),
  dark-active-nav-link: #fd991c,
);

$navbar-light-active-color: theme-color(primary);
$navbar-light-hover-color: theme-color(link-hover);

// Some helpful selectors
$dark-page-selectors: "body.single-format-video, body.term-post-format-video";
