nav.navbar {
  @extend .navbar-light;
  @extend .bg-light;
  @extend .navbar-expand-sm;

  h2 {
    font-size: 1em;
    padding: 0.5em 0;
    margin: 0;
  }
}

#main-header {
  @extend .sticky-top;

  @include media-breakpoint-down(xs) {
    position: static;
  }

  .custom-logo-link {
    // Apply the important stuff from navbar-brand
    @extend .navbar-brand;

    img {
      max-height: 3.5em;
      width: auto;
    }
  }

  nav.navbar.sub-menu {
    @extend .justify-content-center;

    .navbar-nav {
      display: block;
      overflow: auto;
      white-space: nowrap;

      .menu-item {
        display: inline-block;
      }

      .nav-link {
        padding: 0 0.5rem;
      }
    }
  }

  nav.navbar.top-level .header-menu {
    @extend .d-flex;
  }
}

.search-btn {
  @extend .btn;
  @extend .btn-outline-secondary;
}
