nav.navbar {
  @extend .navbar-light;
  @extend .bg-light;

  h2 {
    font-size: 1em;
    padding: 0.5em 0;
    margin: 0;
  }
}

#main-header {
  @extend .sticky-top;

  width: 100%;

  @include media-breakpoint-down(xs) {
    position: static;
  }

  nav.navbar {
    @extend .navbar-expand-sm;
  }

  .navigation-grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "logo toggler"
      "top-nav top-nav"
      "search search"
      "sub-nav sub-nav";
    grid-gap: 0.5em 0;
    align-items: center;

    .navbar-nav {
      white-space: nowrap;
    }

    #logo {
      grid-area: logo;
      justify-self: start;
    }

    #toggler {
      grid-area: toggler;
      justify-self: end;
    }

    #top-nav {
      grid-area: top-nav;
    }

    #search {
      grid-area: search;
    }

    #sub-nav {
      justify-self: stretch;
      grid-area: sub-nav;
      overflow-x: auto;

      .navbar-nav {
        display: block;
        overflow-x: scroll;

        .menu-item {
          display: inline-block;

          .nav-link {
            padding: 0 0.5rem;
          }
        }
      }
    }

    @include media-breakpoint-up(sm) {
      grid-template-areas:
        "logo top-nav search"
        "sub-nav sub-nav sub-nav";

      #toggler {
        display: none;
      }

      #top-nav {
        justify-self: center;
      }

      #search {
        justify-self: end;
        margin-left: 1rem;
      }
    }

    @include media-breakpoint-up(md) {
      #sub-nav {
        justify-self: center;
      }
    }

    @include media-breakpoint-up(xl) {
      grid-template-areas:
        "logo top-nav search"
        "logo sub-nav search";
    }
  }

  .custom-logo-link {
    // Apply the important stuff from navbar-brand
    @extend .navbar-brand;

    img {
      max-height: 3.5em;
      width: auto;
    }
  }
}

.search-btn {
  @extend .btn;
  @extend .btn-outline-secondary;
}
