// Override carousel indicators to be circles
$slider-indicator-diameter: 10px;
.widget.slider .carousel-indicators li {
  width: $slider-indicator-diameter;
  height: $slider-indicator-diameter;
  border-radius: 100%;
}
